@import url(./variables.css);
@import url(./styleReference.css);
@import url(./home.css);
@import url(./buttons.css);

h1,h2,p,a{
    text-align: center;
}

h2{
    margin:var(--padding-large);
}

p {
    margin-bottom: var(--padding-small);
    margin-left: var(--padding-large);
    margin-right: var(--padding-large);
    margin-top: var(--padding-small);
    font-size: var(--font-small);
}


@media (min-width: 55em){

    body{
        flex-direction: row;
    }

    section {
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }
}
