@import url("./css/variables.css");

h2,p,input[type="radio"]{
    text-align: center;
    margin-top: var(--padding-small);
}

div#stats{
    margin: var(--padding-large) var(--padding-small);
    padding: var(--padding-small);
    text-align: center;
}

div#choices{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: var(--padding-small);
    background-color:var(--background);
    gap: 1.5em;
}

div#graphs{
    margin: var(--padding-large) var(--padding-small);
    padding: var(--padding-small);
    text-align: center;
    position: relative;
}

aside {
    width: 100%;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
}
