@import url("./css/variables.css");

h2,p,input[type="radio"]{
    text-align: center;
    margin-top: var(--padding-small);
}

div#stats{
    margin: var(--padding-large) auto;
    width: 75%;
    text-align: center;
    border-radius: 70px;
}

div#choices{
    margin: var(--padding-small) auto;
    display: flex;
    justify-content: center;
    background-color:var(--light-background);
    gap: 1.5em;
}

@media (min-width: 60em){
    div#stats  {
        width: 50%;
    }
}
