@import url("./css/variables.css");

h2,p,input[type="radio"]{
    text-align: center;
    margin-top: var(--padding-small);
}

div#stats{
    margin: var(--padding-large) var(--padding-small);
    padding: var(--padding-small);
    text-align: center;
}

div#choices{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: var(--padding-small);
    background-color:var(--background);
    gap: 1.5em;
}

div#graphs{
    margin: var(--padding-large) var(--padding-small);
    padding: var(--padding-small);
    text-align: center;
    position: relative;
}

@media(min-width: 1024px){
    main {
        display: inline-block;
        width: 66%;
        vertical-align: top;
    }
    aside {
        display: inline-block; 
        width: 33%;
        vertical-align: top;
    }
}

/*
@media (max-width: 40em){
    div#stats  {
        width: 50%;
    }
}
*/
