@import url(./variables.css);


/*Buttons for creation and deletion*/

a.button-create {
    font-size:1.5em;
    margin: var(--padding-small);
    color: var(--ok);
}

a.button-delete {
    font-size:1.5em;
    margin: var(--padding-small);
    color: var(--admin);
}

/*Buttons for accepting and deniying requests*/
a.button-accept {
    padding: var(--padding-small);
    color: var(--ok);
}

a.button-deny {
    padding: var(--padding-small);
    color: var(--admin);
}

/*Admin buttons for functionalities*/
a.functional{
    display:block;
    background-color: var(--danger);
    margin:var(--padding-medium);
    padding:var(--padding-medium);
    /* Exception */
    color: var(--light-text);
    border-radius: 70px;
    text-align: center;
    font-size:1.5em;
}

/*Button for checking details of reports*/
a.detail{
    display: block;
    padding-bottom: var(--padding-small);
    color: var(--admin);
    text-align: center;
}

/*Generico basato su tipo utente*/

#buyerButton {
    background-color: var(--buyer);
    border-width: 0;
    /* Exception */
    color: var(--light-text);
}

#sellerButton {
    background-color: var(--seller);
    border-width: 0;
    /* Exception */
    color: var(--light-text);
}

#adminButton {
    background-color: var(--admin);
    border-width: 0;
    /* Exception */
    color: var(--light-text);
}

#changePassword{
    background-color: var(--danger);
}


