@import url(./variables.css);


/*Buttons for creation and deletion*/

a.button-create {
    font-size:1.5em;
    margin: var(--padding-small);
    color: var(--light-ok);
}

a.button-delete {
    font-size:1.5em;
    margin: var(--padding-small);
    color: var(--light-primary-admin);
}

/*Buttons for accepting and deniying requests*/
a.button-accept {
    padding: var(--padding-small);
    color: var(--light-ok);
}

a.button-deny {
    padding: var(--padding-small);
    color: var(--light-primary-admin);
}

/*Admin buttons for functionalities*/
a.functional{
    display:block;
    background-color: var(--light-danger);
    margin:var(--padding-medium);
    padding:var(--padding-medium);
    color: var(--light-text);
    border-radius: 70px;
    text-align: center;
    font-size:1.5em;
}

/*Button for checking details of reports*/
a.detail{
    display: block;
    padding-bottom: var(--padding-small);
    color: var(--light-primary-admin);
    text-align: center;
}


