@import url(./styleReference.css);
@import url(./variables.css);

h2,h3,h4,p{
    text-align: center;
}

.cart-row{
    text-align: center;
    margin: var(--padding-large);
}

div.cart-row {
    background-color: var(--light-container);
    margin: var(--padding-large);
    display:flex;
    flex-wrap:wrap;
    align-items:center;

}

div.cart-row > a{
    text-align: left;
    width: 50%;
}

div.cart-row > a > div{
    display: flex;
}

div.cart-row > a > div  > img {
    position: relative;
    left: 0;
    width:100%;
    aspect-ratio:4/3;
    object-fit: cover;
    margin-bottom: var(--padding-small);
}

div.cart-row > div {
    display: block;
    text-align: center;
    align-items: center;
    object-fit: cover;
    width:100%;
}