/*switch type in login and register forms*/
form > button#typeSwitcher {
    --height:2em;
    position:relative;
    margin-top: var(--padding-large);
    margin-bottom: var(--padding-large);
    padding: var(--padding-small);
    overflow-x:clip;
    background-color: var(--light-container);
    cursor: pointer;
}

form > button#typeSwitcher::before, form > button#typeSwitcher::after {
    position:absolute;
    width:100%;
    transition: left 1s;
}

form > button#typeSwitcher::before{
    content: "Venditore";
    color: var(--light-primary-venditore);
    top:calc(var(--height)/2);
}

form > button#typeSwitcher::after{
    content: "Compratore";
    color: var(--light-primary-compratore);
    top:calc(var(--height)/2);
}

form > button#typeSwitcher.buyer::after{
    left:0%;
}
form > button#typeSwitcher.seller::after{
    left:100%;
}

form > button#typeSwitcher.buyer::before{
    left:-100%;
}
form > button#typeSwitcher.seller::before{
    left:0%;
}

form > button#typeSwitcher > span {
    position:relative;
    display: block;
    width: var(--height);
    height:var(--height);
    background-color:var(--light-background);
    border-radius:100px;
    transition: left 1s, background-color 1s;
}

form > button#typeSwitcher.buyer > span {
    left:0%;
    background-color: var(--light-primary-venditore);
}

form > button#typeSwitcher.seller > span {
    left:calc(100% - var(--height));
    background-color: var(--light-primary-compratore);
}
