@import url(./variables.css);

form {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: var(--padding-small);
    font-family: var(--font-family-paragraph);
}

form > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding:var(--padding-small);
}

form > label{
    padding-left: 0px;
    padding-right: 0px;
}

form > input {
    background-color: var(--container);
    border-style: none;
    font-size: 1.2em;
}

form > input[type="submit"] {
    margin-top: var(--padding-large);
    margin-bottom: var(--padding-large);
    border-radius:100px;
    border-style: solid;
    font-size: 1.5em;
    font-weight: bold;
    transition:background-color 1s, border-color 1s;
}

form > textarea {
    resize: vertical;
    background-color: var(--container);
    border-color: transparent;
    border-width: 0px;
    font-family: var(--font-family-paragraph);
    padding: 0px;
}
