@import url(./styleReference.css);
@import url(./variables.css);

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    top: 0px;
    height: 100%;
    min-height: 60px;
    max-height: 12%;
    padding: var(--padding-small);
    background-color: var(--light-container);
}

.header-content > h1{
    display: inline-block;
    padding: 0px;
}

.header-content#userProfile{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ccc; /* fallback background */
    background-image: 
    radial-gradient(circle at 50% 40%, #999 20%, transparent 21%),
    radial-gradient(circle at 50% 75%, #999 30%, transparent 31%);
    background-repeat: no-repeat;
    background-position: center;
}

.header-content#interactibles{
    display: flex;
    gap: 1rem;
}

.header-content>#logout,.header-content>#login{
    background-image: linear-gradient(to bottom right, var(--light-primary-compratore), var(--light-primary-venditore));
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 70px;
    border: 0;
    font-size: 1.2em;
}


