@import url(./styleReference.css);
@import url(./variables.css);
@import url(./materialIcons.css);

.header-content{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: var(--padding-small);
}

.header-content > h1{
    display: inline-block;
    padding: 0px;
}

.header-content #userProfile {
    margin-left: auto; /*used to force the element on the end of the flexbox */
    margin-top: var(--padding-small);
}

.header-content .material-symbols-outlined {
    vertical-align: middle;
    font-size: 2em;
    margin-right: var(--padding-small);
}

.header-content #logout, .header-content #login{
    background-image: linear-gradient(to bottom right, var(--light-primary-compratore), var(--light-primary-venditore));
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 70px;
    border: 0;
    font-size: 1.2em;
    vertical-align: middle;
}

