@import url(./variables.css);
@import url(./styleReference.css);

form {
    position: sticky;
    top: 0px;
}

h2, p.not-found {
    text-align: center;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: var(--padding-small);
    background-color: var(--background);
    z-index: 10;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.filter-wrapper {
    position: relative;
}

.filter-icon {
    cursor: pointer;
    font-size: 28px;
    padding: 4px;
    color: var(--text-secondary);
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: var(--container);
    border: 1px solid var(--opposite);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: var(--padding-small);
    z-index: 100;
    min-width: 150px;
}

.filter-dropdown label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.9rem;
    color: var(--text);
    cursor: pointer;
}

.filter-dropdown input[type="radio"] {
    margin-right: 8px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--container);
    border: var(--padding-small) solid var(--background);
    border-radius: 100px;
    padding: 0 var(--padding-small);
    gap: var(--padding-small);
    position: relative;
}

.search-bar input[name="search"] {
    flex: 1;
    border: none;
    background: transparent;
    padding: var(--padding-large) 0;
    outline: none;
    font-size: 1rem;
    color: var(--text);
    text-align: center;
}

.search-bar input[name="search"]::placeholder{
    text-align: center;
}

/* Le icone */
.search-icon,
.filter-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

/* Wrapper mantiene posizione per dropdown */
.filter-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}