@import url(./variables.css);
@import url(./styleReference.css);

form {
    position: sticky;
    top: 0px;
}

input[name="search"] {
    background-color: var(--light-container);
    width: 100%;
    padding: var(--padding-large);
    border-width: var(--padding-small);
    border-color: var(--light-background);
    border-style: solid;
    border-radius: 100px;
}

h2 {
    text-align: center;
}

/*
body > div {
    background-color: var(--light-container);
    display: flex;
    align-items: end;
    aspect-ratio: 4 / 3;
    margin-left: var(--padding-small);
    margin-right: var(--padding-small);
    margin-bottom: var(--padding-small);
}

body > div > div {
    padding: var(--padding-small);
}

body > div > div > p:last-child{
    font-size: 1.2em;
    font-weight: bolder;
}

*/
