@import url(./variables.css);
@import url(./styleReference.css);

form {
    position: sticky;
    top: 0px;
}

input[name="search"] {
    background-color: var(--container);
    width: 100%;
    padding: var(--padding-large);
    border-width: var(--padding-small);
    border-color: var(--background);
    border-style: solid;
    border-radius: 100px;
}

h2, p.not-found {
    text-align: center;
}

