@import url(./chooserButton.css);
@import url(./form.css);
@import url(./buttons.css);
@import url(./styleReference.css);

form {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

form > input[type="submit"].buyer {
    background-color: var(--light-primary-compratore);
    border-color: var(--light-primary-compratore);
}

form > input[type="submit"].seller {
    background-color: var(--light-primary-venditore);
    border-color: var(--light-primary-venditore);
}

form > input[type="submit"].admin {
    background-color: var(--light-primary-admin);
    border-color: var(--light-primary-admin);
}

form > input[type="submit"][disabled] {
    background-color: var(--light-container);
    border-color: var(--light-container);
}

button > span {
    width:100%;
    height: 100%;
}

body > h2 {
    text-align: center;
    padding:var(--padding-large);
}

body > a {
    display: block;
    text-align: center;
}
