@import url("variables.css");

main {
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
}

main > h2 , main > h3, main > p{
    text-align: center;
    margin: var(--padding-large);
}

main > h3, main> h4 {
    margin-top: var(--padding-large);
}

main > a {
    display:block;
    margin:var(--padding-small);
    padding:var(--padding-small);
    color: var(--text);
    border-radius: 70px;
    text-align: center;
    font-size:1.5em;
}


main > a#seller, main> a#readAll{
    background-color: var(--seller);
    /* Exception */
    color: var(--light-text);
}

main > a#admin, main>a#deleteAll{
    background-color: var(--admin);
    /* Exception */
    color: var(--light-text);
}

a.delete,a.delete > *{
    color: var(--admin)
}


a.read, a.read > *{
    color: var(--ok)
}


/* Single notifications */
div.notification  {
    margin: var(--padding-small); 
    padding: var(--padding-small);
    background-color: var(--container);
}

div.notification > h3, div.notifContainer > form > p{
    padding: 0px;
}

div.notification > p:last-of-type {
    padding-top: var(--padding-small);
}

div.notification > a {
    display: block;
    margin-top: var(--padding-small); 
    margin-bottom: 0px; 

    font-size: 1.5em;
    text-align: center;
}

div.notification span {
    vertical-align: middle;
}
