@import url("variables.css");

body > h2 , body > h3{
    text-align: center;
    margin: var(--padding-large);
}

body > h3, body> h4 {
    margin-top: var(--padding-large);
}

body > a {
    display:block;
    margin:var(--padding-small);
    padding:var(--padding-small);
    color: var(--light-text);
    border-radius: 70px;
    text-align: center;
    font-size:1.5em;
}

body > a#seller, body> a#readAll{
    background-color: var(--light-primary-venditore);
}

body > a#admin, body>a#deleteAll{
    background-color: var(--light-primary-admin);
}

a.delete,a.delete > *{
    color: var(--light-primary-admin)
}


a.read, a.read > *{
    color: var(--light-ok)
}


/* Single notifications */
div.notification  {
    margin: var(--padding-small); 
    padding: var(--padding-small);
    background-color: var(--light-container);
}

div.notification > h3, div.notifContainer > form > p{
    padding: 0px;
}

div.notification > p:last-of-type {
    padding-top: var(--padding-small);
}

div.notification > a {
    display: block;
    margin-top: var(--padding-small); 
    margin-bottom: 0px; 

    font-size: 1.5em;
    text-align: center;
}

div.notification span {
    vertical-align: middle;
}
