@import url(./styleReference.css);
@import url(./variables.css);


h3,p{
    text-align: center;
    padding-top: var(--padding-small);
}

h2 {
    text-align: center;
    margin: var(--padding-large);
}

p{
    font-size: var(--font-small);
}

main {
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
}

main > div {
    background-color: var(--background);
}

button {
    display:block;
    width: calc(100% - var(--padding-small) * 2);
    margin: var(--padding-small);
    vertical-align: middle;
}

button > span {
    vertical-align: middle;
    /* Exception */
    color: var(--light-text); 
}

button.buyer {
    background-color: var(--buyer);
    /* Exception */
    color: var(--light-text); 
}
button.seller {
    background-color: var(--seller);
    /* Exception */
    color: var(--light-text); 
}
section.hidden {
    display:none;
}

/* Single order row */

div.order{
    text-align: center;
    background-color: var(--container);
    margin: var(--padding-small);
    padding: var(--padding-small);

    display:flex;
    flex-wrap:wrap;
    align-items:center;
    flex-direction: column;
}

div.order  > a{
    display: block;
    flex : 1 1 42%;
}

div.order >  a   > img {
    object-fit:cover;
    width: 100%;
    display: block;
}

div.order> div  {
    display: block;
    text-align: center;
    align-items: center;
    object-fit: cover;
    width:100%;
    flex : 1 1 42%;
}

div.order a.button-accept {
    display: inline-block;
    font-size: 1.5em;
    background: var(--ok);
    padding-right: var(--padding-large);
    padding-left: var(--padding-large);
    border-radius: 999px;
    /* Exception */
    color: var(--light-text);
}

@media (min-width: 40em){
    div.order {
        flex-direction: row;
    }
    
    div.order  *{
        max-height: 30em;
    }
}

@media(min-width: 1000px){
    main {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
