@import url(./variables.css);

div#error-popup{
    background-color: var(--light-danger);
    font-size: var(--font-small);
    margin: var(--padding-large);
    padding: var(--padding-large);
    display: block;
}

div#warning-popup{
    background-color: var(--light-warning);
    font-size: var(--font-small);
    margin: var(--padding-large);
    padding: var(--padding-large);
    display: block;
}

div#success-popup{
    background-color: var(--light-ok);
    font-size: var(--font-small);
    margin: var(--padding-large);
    padding: var(--padding-large);
    display: block;
}