@import url(./variables.css);

div#error-popup{
    background-color: var(--danger);
    font-size: var(--font-small);
    margin-left: auto;
    margin-top: var(--padding-large);
    margin-right: auto;
    padding: var(--padding-large);
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: center;
    max-width: 650px;
}
div#error-popup p {
    color: var(--light-text);
}

div#warning-popup{
    background-color: var(--warning);
    font-size: var(--font-small);
    margin-left: auto;
    margin-top: var(--padding-large);
    margin-right: auto;
    padding: var(--padding-large);
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: center;
    max-width: 650px;
    color: var(--light-text);
}

div#warning-popup p {
    color: var(--light-text);
}

div#success-popup{
    background-color: var(--ok);
    font-size: var(--font-small);
    margin-left: auto;
    margin-top: var(--padding-large);
    margin-right: auto;
    padding: var(--padding-large);
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: center;
    max-width: 650px;
    color: var(--light-text);
}

div#success-popup p {
    color: var(--light-text);
}
