@import url(./styleReference.css);
@import url(./variables.css);

div.variantOption{
    margin-left: var(--padding-small);
    padding: var(--padding-small);
    background-color: var(--light-background);
    text-align: center;
}

p,h2{
    margin: var(--padding-small);
    text-align: center;
}

h3{
    margin-left: var(--padding-small);
    margin-top: var(--padding-small);
    text-align: center;
}

small{
    color: gray;
    display: block;
    text-align: center;
}

div.image-container,div.image-button{
    background-color: var(--light-background);
    margin: var(--padding-small);
}


div.image-container,div.image-button{
    text-align: center;
    justify-content: center;
}

div.image{
 display: flex;
 background-color: var(--light-image-container);
}

div.image-button{
    width: 100%;
}

div.image > img{

    max-height: 30%;
    max-width: 40%;
    aspect-ratio: 4/3;
    object-fit:fill;
    margin: var(--padding-small);
}


div.image-button > #prev{
    background-color: var(--light-primary-compratore);
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 3px 0 0 3px;
}

div.image-button > #next{
    position: relative;
    background-color: var(--light-primary-compratore);
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 3px 0 0 3px;
}