@import url(./variables.css);
@import url(./styleReference.css);
@import url(./form.css);

body > h2 {
    text-align: center;
    margin-top: var(--padding-small);
}

form legend {
    font-family: var(--font-family-header);
    font-size: 1.2em;
    margin: 0 auto;
}

/* General product info */

form input[type="text"]{
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: var(--padding-small);
    background-color: var(--container);
    border-width: 0px;
}

form label[for="visible"] {
    line-height: 2em;
}

form input[type="checkbox"] {
    display: inline-block;
    line-height: 2em;
}

form label[for="description"]{
    display:block;
}

form textarea {
    background-color: var(--container);
    border-width: 0;
    display: block;
    width: 100%;
    resize: vertical;
    min-height: 15em;
    font-family: var(--font-family-paragraph);
}

form input[type="file"]{
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}

div#immaginiEsistenti {
    padding: var(--padding-small);
}

div#immaginiEsistenti img{
    width: 100%;
}

form button#showModel {
    display:block;
    width: 100%;
    background-color: var(--primary-ausiliar);
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
    /* Exception */
    color: var(--light-text);
}

form div#model-viewer.hidden {
    display: none;
}

form div#model-viewer {
    display: block;
    aspect-ratio: 4/3;
    padding: 0px;
}

/* Variant stuff */

form select {
    width: 100%;
    background-color: var(--container);
    border: none;
    font-size: var(--font-small);
}

form input#addVariant{
    border-radius: 70px;
    width: 100%;
    background-color: var(--primary-ausiliar);
    border: none;
    padding: var(--padding-small);
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
    cursor: pointer;
    font-size: 1em;
    /* Exception */
    color: var(--light-text);
}

form div#variantContainer{
    background-color: var(--background);
}

div.variantInfo{
    padding: var(--padding-small);
    margin-bottom: var(--padding-small);
}

div.variantInfo:last-of-type {
    margin-bottom: 0px;
}

div.variantInfo > div {
    display:flex;
    align-items: center;
    margin-bottom: var(--padding-small);
}

div.variantInfo > div:last-of-type {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

div.variantInfo svg{
    padding-right: var(--padding-small);
}

div.variantInfo p{
    font-size: var(--font-small);
}

div.variantInfo label{
    font-size: var(--font-small);
    padding-right: var(--padding-small);
} 

div.variantInfo input[type="number"]{
    flex-grow:1;
    background-color: var(--background);
    border-style: none;
    border-radius: 20px;
    font-size: var(--font-small);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
    text-align: right;
    width: 3em;
    -moz-appearance: textfield;
}

div.variantInfo input[type="number"]:last-of-type {
    flex-grow: 0;
    text-align: left;
}

form input[type="submit"] {
    background-color: var(--seller);
    border-color: var(--seller);
    cursor: pointer;
    /* Exception */
    color: var(--light-text);
}

@media (min-width: 82em){
    form fieldset {
        display: inline-block;
        width: 33%;
        box-sizing: border-box;
        vertical-align: top;
    }
}
