article.product {
    background-color: var(--light-container);
    margin: var(--padding-small);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

article.product > a > div  > img {
    width:100%;
    aspect-ratio:4/3;
    object-fit: cover;
}

article.product > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 497px){
    article.product > a > div  > img {
        max-height:128px;
        aspect-ratio:4/3;
        object-fit: cover;
    }
}
