@import url(./styleReference.css);
@import url(./variables.css);
@import url(./materialIcons.css);

p,h2{
    margin: var(--padding-small);
    text-align: center;
}

h3{
    margin-left: var(--padding-small);
    margin-top: var(--padding-small);
    text-align: center;
}

#showModel {
    width: calc(100% - var(--padding-small) * 2);
    margin-left: var(--padding-small);
    margin-left: var(--padding-small);
    background-color: var(--light-primary-compratore);
}

#model-viewer.hidden {
    display:none; 
}
#model-viewer {
    display: block;
    aspect-ratio: 4/3;
    margin: var(--padding-small);
}

div.variantOption{
    display: flex;
    padding: var(--padding-small);
    background-color:var(--light-background);
    text-align: center;
}

div.variantOption > div {
    margin-left: var(--padding-small);
    background-color: transparent;
    flex-grow:1;
}

div.variantOption span {
    display: block;
    text-align: left;
}

div.variantOption small{
    color: gray;
    display: block;
    text-align: left;
}

div.image-container{
    position: relative;
    background-color: var(--light-background);
    margin: var(--padding-small);
}

div.image-container{
    text-align: center;
}

div.image{
    background-color: var(--light-image-container);
}

div.image > img{
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit:fill;
}

div.image-button{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
}

div.image-button > button{
    width: 25%;
    background-color: transparent;
    color: var(--light-text);
    border-radius: 3px 0 0 3px;
    transition: background-color 1s;
}

div.image-button > button:hover {
    background-color: var(--light-primary-compratore);
}

#toggleReviewForm {
    margin-left: var(--padding-small);
    margin-right: var(--padding-small);
    width: calc(100% - var(--padding-small) * 2 );
    box-sizing: border-box;
    background-color: var(--light-primary-compratore); 
    padding: var(--padding-small);
}

#toggleReviewForm > *{
    vertical-align: middle;
}

form.hidden {
    display: none;
}

/* Copied from form.css */
form > input[type="submit"] {
    background-color: var(--light-primary-compratore);
    border-style: none;
}

form > textarea {
    resize: vertical;
    background-color: var(--light-container);
    border-color: transparent;
    border-width: 0px;
    font-family: var(--font-family-paragraph);
}
