@import url(./variables.css);
@import url(./styleReference.css);
@import url(./form.css);

body > h2 {
    text-align: center;
    margin-top: var(--padding-small);
}

form input[type="color"] {
    width:75px;
    height:75px;
    border-color:black;
    border-style:solid;
    border-radius:50px;
}

form > div {
    display:flex;
    align-items:center;
}

form > div > input[type="text"] {
    margin-left: var(--padding-small);
    font-size: 1.2em;
    flex-grow: 1;
}

form > input[type="checkbox"] {
    all:unset;
    appearance: checkbox;
}

form > label[for="visible"] {
    display: inline;
}

form > select {
    background-color: var(--light-container);
    border: none;
    font-size: var(--font-small);
}

form > input#addVariant{
    border-radius: 70px;
    background-color: var(--light-primary-ausiliar);
    border-color: var(--light-primary-ausiliar);
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
    cursor: pointer;
}

form > div#variantContainer{
    flex-direction: column;
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}

div.variantInfo{
    padding: var(--padding-small);
    width: 100%;
}

div.variantInfo > div {
    display:flex;
    align-items: center;
    margin-bottom: var(--padding-small);
}

div.variantInfo > div:last-of-type {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

div.variantInfo svg{
    padding-right: var(--padding-small);
}

div.variantInfo p{
    font-size: var(--font-small);
}

div.variantInfo label{
    font-size: var(--font-small);
    padding-right: var(--padding-small);
} 

div.variantInfo input[type="number"]{
    width:100%;
    flex-grow:1;
    background-color: var(--light-background);
    border-style: none;
    border-radius: 20px;
    font-size: var(--font-small);
    padding-left: var(--padding-small);
}

form > input[type="submit"] {
    background-color: var(--light-primary-venditore);
    border-color: var(--light-primary-venditore);
    cursor: pointer;
}
