@import url(./variables.css);
@import url(./styleReference.css);
@import url(./form.css);


body > h2 {
    text-align: center;
    margin-top: var(--padding-small);
}

form input[type="color"] {
    width:75px;
    height:75px;
    border-color:black;
    border-style:solid;
    border-radius:50px;
}

form > div {
    display:flex;
    align-items:center;
}

form > div > input[type="text"] {
    margin-left: var(--padding-small);
    font-size: 1.2em;
    flex-grow: 1;
}

form > input[type="checkbox"] {
    all:unset;
    appearance: checkbox;
  }

form > input#addVariant{
    border-radius: 70px;
    background-color: var(--light-primary-ausiliar);
    border-color: var(--light-primary-ausiliar);
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}

form > div#variantContainer{
    flex-direction: column;
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}

form > button[type="submit"] {
    background-color: var(--light-primary-venditore);
    border-color: var(--light-primary-venditore);
}

#visible{
    display: flex;
    align-items: center;
    font-size: var(--font-large);
}

div.variantInfo{
    display: block;
    margin-left: var(--padding-large);
    margin-right: var(--padding-large);
    padding: var(--padding-small);
    width: 100%;
}

div.variantInfo > p{
    font-size: var(--font-small);
    gap: var(--padding-small);
}

div.variantInfo > label{
    font-size: var(--font-small);
    gap: var(--padding-small);
    padding-right: var(--padding-small);
    padding-bottom: var(--padding-small);
    padding-top: var(--padding-small);
}

div.variantInfo > input[type="number"]{
    background-color: var(--light-background);
    border-style: none;
    border-radius: 20px;
    font-size: var(--font-small);
}

div.variantInfo > svg{
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
    position: absolute;
    align-items: right;
}