div.products {
    background-color: var(--light-background);
    display: grid;
    gap: var(--padding-small);
    padding: var(--padding-small);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

article.product {
    background-color: var(--light-container);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    width: 100%;
}

article.product div  > img {
    width:100%;
    aspect-ratio:4/3;
    object-fit: cover;
}

article.product  div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

