@import url(./styleReference.css);
@import url(./variables.css);

div.variantOption{
    margin-left: var(--padding-small);
    padding: var(--padding-small);
    background-color: var(--light-background);
}

p,h2{
    margin: var(--padding-small);
}

h3{
    margin-left: var(--padding-small);
    margin-top: var(--padding-small);
}

small{
    color: gray;
    display: block;
}

img{
    height: 100%;
    width: 100%;
    max-height: 512px;
    max-width: 512px;
    object-fit:contain;
}

div.image-container,div.image-button{
    background-color: var(--light-background);
    position: relative;
}

div.image-button{
    width: 100%;
    align-items: center;
}


div.image-button > #prev{
    background-color: var(--light-primary-compratore);
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 3px 0 0 3px;
}

div.image-button > #next{
    position: relative;
    background-color: var(--light-primary-compratore);
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 3px 0 0 3px;
}