#logout {
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 70px;
    border: 0;
    font-size: 1.5em;
    max-width: 650px;
    margin-top: var(--padding-large);
    margin-left: var(--padding-small);
    margin-right: var(--padding-small);
}

#changePassword[disabled]{
    background-color: var(--container);
}
