@import url(./variables.css);
@import url(./styleReference.css);
@import url(./form.css);
@import url(./buttons.css);

form {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

form > input[type="submit"].buyer {
    background-color: var(--buyer);
    border-color: var(--buyer);
}

form > input[type="submit"].seller {
    background-color: var(--seller);
    border-color: var(--seller);
}


form > input[type="submit"].admin {
    background-color: var(--admin);
    border-color: var(--admin);
}

form > input[type="submit"][disabled] {
    background-color: var(--container);
    border-color: var(--container);
}

body > h2 {
    text-align: center;
    padding:var(--padding-large);
}

body > a {
    display: block;
    text-align: center;
}

form > p{
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
    padding-left : 0;
    font-size: 1.2em;
}

