@import url(./variables.css);
@import url(./styleReference.css);
@import url(./loginForm.css);

body > h2 {
    text-align: center;
    padding:var(--padding-large);
}

body > a {
    display: block;
    text-align: center;
}
