@import url(./variables.css);
@import url(./styleReference.css);
@import url(./form.css);
@import url(./buttons.css);

form > input[type="submit"].buyer {
    background-color: var(--light-primary-compratore);
    border-color: var(--light-primary-compratore);
}

form > input[type="submit"].seller {
    background-color: var(--light-primary-venditore);
    border-color: var(--light-primary-venditore);
}

form > input[type="submit"].admin {
    background-color: var(--light-primary-admin);
    border-color: var(--light-primary-admin);
}

form > input[type="submit"][disabled] {
    background-color: var(--light-container);
    border-color: var(--light-container);
}

body > h2 {
    text-align: center;
    padding:var(--padding-large);
}

body > a {
    display: block;
    text-align: center;
}
