@import url(./variables.css);
@import url(./styleReference.css);

h2{
    text-align: center;
}

div.report {
    padding: var(--padding-small);
    font-size:1.5em;
    margin: var(--padding-small);
    word-wrap: break-word;
    font-family: var(--font-family-paragraph); 
}

div.report > p {
    margin-bottom: var(--padding-small);
    margin-top: var(--padding-small);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

div.report > textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-small);
    outline: none; /* Optional: removes blue border on focus */
}

div.report > b{
    display: block;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

div.report > small{
    display: block;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

div.report > a {
    display: inline-block;
    width: 100%;
}

