@import url(./variables.css);
@import url(./styleReference.css);
@import url(./buttons.css);

div.request {
    margin: var(--padding-small);
    padding: var(--padding-small);
    text-wrap: wrap;
    font-size: 1.5em;
}
div.request > div {
    flex-grow: 1;
}

div.request >  p {
    margin-left: var(--padding-small);
}

div.request > div {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}


div.request> small{
    display:inline-block;
    padding-left: var(--padding-small);
}


