@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

div.review {
    display:flex;
    flex-direction: column;
    margin: var(--padding-small);
}

div.review > * {
    width: 100%;
}

/* Title and review score */
div.review > div {
    display: flex;
    align-items: center;
}

div.review h3 {
    display: inline-block;
}

div.review span:first-of-type{
    margin-left: auto;
}

div.review span:last-of-type{
    margin-right: var(--padding-small);
}

/* Review description */

div.review p {
    text-align: justify;
}

/* Review author */
div.review p:last-of-type {
    vertical-align: justified;
    font-size: 0.8em;
}

.material-symbols-outlined.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
