@import url(./materialIcons.css);

div.review {
    padding-bottom: var(--padding-small);
    margin: var(--padding-small);
}

/*Review info (only used for reviews) */

div.reviewInfo {
    display: flex;
    align-items: center;
}

div.reviewInfo > h3 {
    display: inline-block;
}

div.reviewInfo >  span:first-of-type{
    margin-left: auto;
}

div.reviewInfo span:last-of-type{
    margin-right: var(--padding-small);
}

/* Description (both used for review and replies) */

div.review > p {
    text-align: justify;
}

/* Review author */
div.review > p:last-of-type {
    vertical-align: justified;
    font-size: 0.8em;
}

div.replies {
    margin-left: calc(var(--padding-small) / 2);
    border-left: calc(var(--padding-small) / 2) var(--light-background) solid;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

/*top level reviews */
body > div.review {
    margin: var(--padding-small);
}
