@import url(./materialIcons.css);

div.review {
    display:flex;
    flex-direction: column;
    margin: var(--padding-small);
}

div.review > * {
    width: 100%;
}

/* Title and review score */
div.review > div {
    display: flex;
    align-items: center;
}

div.review h3 {
    display: inline-block;
}

div.review span:first-of-type{
    margin-left: auto;
}

div.review span:last-of-type{
    margin-right: var(--padding-small);
}

/* Review description */

div.review p {
    text-align: justify;
}

/* Review author */
div.review p:last-of-type {
    vertical-align: justified;
    font-size: 0.8em;
}
