@import url("./variables.css");

.seller-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--padding-medium);
    padding: var(--padding-small);
    background-color: var(--light-container);
    border-radius: 10px;
}


.seller-details {
    flex: 1;
}

.seller-actions {
    display: flex;
    gap: var(--padding-small);
}

.seller-info h2 {
    margin-bottom: var(--padding-small);
}

.seller-info p {
    margin: var(--padding-small) 0;
}

.seller-buttons {
    display: flex;
    justify-content: center;
    gap: var(--padding-medium);
    margin-top: var(--padding-medium);
}

button.follow-btn {
    background-color: var(--light-primary-compratore);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button.follow-btn:hover {
    opacity: 0.9;
}

button.report-btn {
    background-color: var(--light-danger);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button.report-btn:hover {
    opacity: 0.9;
}

.report-form-container {
    margin-top: var(--padding-large);
    padding: var(--padding-medium);
    background-color: var(--light-container);
    border-radius: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.report-form-container h3 {
    margin-bottom: var(--padding-small);
    font-size: 1.5em;
}

.report-form-container textarea {
    width: 90%;
    height: 100px;
    padding: var(--padding-small);
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    font-family: var(--font-family-paragraph);
}

.report-form-container button[type="submit"] {
    margin-top: var(--padding-small);
    background-color: var(--light-danger);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.report-form-container button[type="submit"]:hover {
    opacity: 0.9;
}