@import url("./variables.css");

body > h2, form > h2, body > p {
    text-align: center;
}

.seller-info {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: var(--padding-small);
    background-color: var(--light-background);
    flex-direction: column;
}

.seller-details {
    flex: 1;
    padding: var(--padding-small);
}

.seller-details h2 {
    margin-bottom: var(--padding-small);
}

.seller-details p {
    margin: var(--padding-small) 0;
}

.seller-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-small);
}

.seller-actions > form {
    width: auto;
}

.seller-actions > button {
    padding: var(--padding-small);
    font-size: 1.5em;
    background-color: var(--light-danger);
}

.seller-actions > button > span {
    display: inline;
    vertical-align: middle;
}

.report-form.hidden2 {
    display: none;
}

.report-form > textarea {
    height: 5em;
    padding: var(--padding-small);
}

.report-form > button {
    margin-top: var(--padding-small);
    background-color: var(--light-danger);
    cursor: pointer;
    width: 100%;
}

form.follow-btn > input[type="submit"]{
    width: auto;
    background-color: var(--light-primary-compratore);
    transition: none;
    border:none;
}

@media (min-width: 40em){
    div.seller-info {
        flex-direction: row;
    }
}
