@import url(./variables.css);
@import url(./styleReference.css);

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

header h1 {
    display: inline-block;
    padding: 0px
}

header a {
    background-image: linear-gradient(to bottom right, var(--light-primary-compratore), var(--light-primary-venditore));
    color: var(--light-text);
    padding: var(--padding-small) var(--padding-large);
    border-radius: 70px;
    font-size: 1.2em;
}

body > h2 {
    text-align: center;
    margin: var(--padding-large);
}

body > h3 {
    text-align: center;
    margin: var(--padding-small);
    margin-top: var(--padding-large);
}

body > a {
    display:block;
    background-color: var(--light-primary-venditore);
    margin:var(--padding-small);
    padding:var(--padding-small);
    color: var(--light-text);
    border-radius: 70px;
    text-align: center;
    font-size:1.5em;
}

article {
    background-color: var(--light-container);
    margin: var(--padding-small);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

article.product > img {
    max-height:128px;
    aspect-ratio:4/3;
}

article > div {
    flex-grow: 1;
    padding: var(--padding-small);
}

article > div > p {
    font-size:1.5em;
    margin-bottom: var(--padding-small);
}

article> div > div {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

article > div > div > a:first-of-type {
    font-size:1.5em;
    margin: var(--padding-small);
    color: var(--light-ok);
}

article > div > div > a:last-of-type {
    font-size:1.5em;
    margin: var(--padding-small);
    color: var(--light-primary-admin);
}

article.material > svg {
    margin:var(--padding-small);
}

