@import url("./variables.css");

body > h2, form > h2 {
    text-align: center;
}

.seller-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--padding-small);
    padding: var(--padding-small);
    background-color: var(--light-container);
}

.seller-details {
    flex: 1;
}

.seller-details h2 {
    margin-bottom: var(--padding-small);
}

.seller-details p {
    margin: var(--padding-small) 0;
}

.report-form > textarea {
    height: 5em;
    padding: var(--padding-small);
}

.report-form > button {
    margin-top: var(--padding-small);
    background-color: var(--light-danger);
    cursor: pointer;
    width: 100%;
}

