@import url(./variables.css);
@import url(./styleReference.css);
@import url(./buttons.css);

body > h2 {
    text-align: center;
    margin: var(--padding-large);
}

body > h3 {
    text-align: center;
    margin: var(--padding-small);
    margin-top: var(--padding-large);
}

body > a {
    display:block;
    background-color: var(--light-primary-venditore);
    margin:var(--padding-small);
    padding:var(--padding-small);
    color: var(--light-text);
    border-radius: 70px;
    text-align: center;
    font-size:1.5em;
}

article {
    background-color: var(--light-container);
    margin: var(--padding-small);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

article.product > img {
    max-height:128px;
    aspect-ratio:4/3;
}

article > div {
    flex-grow: 1;
    padding: var(--padding-small);
}

article > div > p {
    font-size:1.5em;
    margin-bottom: var(--padding-small);
}

article> div > div {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

article.material > svg {
    margin:var(--padding-small);
}

div.notifContainer {
    padding: var(--padding-small);
    background-color: var(--light-background);
}

div.notifContainer p {
    display: inline-block;
}
