@import url("./css/variables.css");

h2 {
    margin-top: var(--padding-large);
    text-align: center;
}

form > input[type="submit"] {
    background-color: var(--light-primary-venditore);
    transition: none;
    border: none;
}
