* {
    color: var(--text);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--container);
    padding: var(--padding-small);
}

h1 {
    font-family: var(--font-family-header);
    font-size: 4em;
}

h2 {
    font-family: var(--font-family-header);
    font-size: 2em;
}

h3 {
    font-family: var(--font-family-header);
    font-size: 1.5em;
}

p, label{
    font-family: var(--font-family-paragraph);
    font-size: 1em;
}

button{
    font-family: var(--font-family-paragraph);
    font-size: 1.2em;
    border-radius: 70px;
    padding: var(--padding-large) var(--padding-small);
    border-style: none;
}

div{
    background-color: var(--container);
}

a {
    font-family: var(--font-family-paragraph);
    color: var(--link);
    text-decoration: none;
}

.compratore {
    background-color: var(--buyer);
}

.venditore {
    background-color: var(--seller);
}

.admin {
    background-color: var(--admin);
}

.warning{
    background: var(--warning);
}

.ok{
    background: var(--ok);
}
